.content-conatainer {
  margin: 0 auto;
  padding: 0 $m-size;
  margin-bottom: 20px;
  max-width: 60rem;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 auto;
    max-width: 60rem;
    margin-bottom: 20px;
  }
}

.content-conatainer-main {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 $m-size;
  max-width: 80rem;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 auto;
    max-width: 52rem;
    margin-bottom: 20px;
  }
}

.content-conatainer_aftervideoloaded {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 $m-size;
  max-width: 80rem;

  @media (min-width: $desktop-breakpoint) {
    max-width: 40rem;
    margin-bottom: 20px;
    float: left;
  }
}

.content-conatainer_maincontent {
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $desktop-breakpoint) {
    float: left;
    margin-right: 30px;
    margin-left: -35%;
    max-width: 60rem;
    min-width: 60rem;
  }
}

.content-conatainer_highest-value {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 $m-size;
  max-width: 35rem;

  @media (min-width: $desktop-breakpoint) {
    float:right;
    left: 4%;
    clear:both;
  }
}
