.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint){
    flex-direction: row;

  }
}

.input-group__item {
  margin-right: $input;
  left: 5%;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $input 0 0;
    left: 4%;
  }
}
