.search-input {
  margin-right: $input;
  width: 90% !important;
  left: 15px;


  @media (min-width: $desktop-breakpoint) {
    margin: 0 $input 0 0;
    left: 20px;

  }
}

.search-input_button {
  left: 15px;
  width: 90% !important;
  border: 1px solid #E0E0E0 !important;

  @media (min-width: $desktop-breakpoint) {
    width: 10% !important;
    left: 20px;
  }
}
